#raices-main-input{
    width:100%; 
    min-height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: 1rem; 
    line-height: inherit;
    border-color: #d97706;
    position: relative;
    background-color: #fff;
    margin-bottom: 6px;
}

.mq-editable-field.mq-focused{
    border-color: #d97706!important;
    box-shadow: 0 0 0 0.2rem rgba(217,119,6,.25)!important;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(217,119,6,.25)!important;
}

.mq-scaled.mq-paren{
    transform: scale(1, 1)!important; /* Escalar el parentesis */
}

.mq-hasCursor:not(.mq-root-block){
    border-color: #d97706!important;
    box-shadow: 0 0 0 0.2rem rgba(217,119,6,.25)!important;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(217,119,6,.25)!important;

}