@tailwind base;
@tailwind components;
@tailwind utilities;


/* @media screen and (min-width: 1300px)  {
  
  .landing-div { 
    background-image: url(/back1.png) , url(/back2.png), url(/back3.png);
    background-size: auto, 730px, 530px;

    background-position: right bottom,  left bottom, left top;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    
  }
}

@media screen and (min-width: 769px) and (max-width: 1300px)  {
  
  .landing-div { 
    background-image:  url(/back2.png), url(/back3.png);
    background-size:  530px, 730px;

    background-position:  right top, left bottom;
    background-repeat: no-repeat, no-repeat;
    
  }
}
@media screen and (min-width: 1300px)  {
  
  .input-principal-div { 
    background-image: url(/back4.png),  url(/back5.png);
    background-size: 350px, 350px;
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;

    
  }
} */

.MathJax > svg{
  display:inline;
}